@tailwind base;
@tailwind components;
@tailwind utilities;

// TODO: change 769 -> 768px

// variables
$lg: 1024px;
$md: 769px;
$sm: 540px;
$xs: 480px;
$xxs: 375px;

$white: rgb(246 248 250);
$grey: #f6f8fa;
$bodyTextColor: rgb(91 111 130);
$headerColor: rgb(32 43 54);
$button: rgb(33 124 238);

body {
  color: $bodyTextColor;
  margin: 0 auto;
  width: 100%;

  @media (min-width: $lg) {
    width: 80%;
  }
}

h1,
h2,
h3,
h4 {
  font-family: Lato, sans-serif;
  color: $headerColor;
}

header,
.header {
  padding: 1rem;

  @media (min-width: $lg) {
    padding: 1rem 0;
  }
}

header,
.header,
footer,
main {
  width: auto;
  margin: 0 auto;
  @media (min-width: $lg) {
    width: 85%;
  }
}

main {
  font-family: Roboto, Helvetica, sans-serif;
  overflow-x: hidden;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, white, lightgrey) 1;
}

button {
  background: rgb(33, 124, 238);
  background: linear-gradient(120deg, rgba(33, 124, 238, 1) 0%, rgba(67, 142, 235, 1) 100%);
}

.background {
  // based on the size of the image when rendered. i was noticing that when trying to change the position, the size was changing
  width: 1480px;
  height: 650px;
  top: 0;
  right: -330%;
  z-index: -10;

  @media (min-width: $xxs) {
    top: -10%;
    right: -260%;
  }

  @media (min-width: $sm) {
    top: -15%;
    right: -110%;
  }

  @media (min-width: $md) {
    right: -50%;
  }
}

.feature-background {
  right: -700px;
}

.oval {
  background-color: rgba(#fff, 0.7);
  border-radius: 50%;
}

.footer-text {
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  background-image: url("../assets/footer.svg");
  background-repeat: no-repeat;

  @media (min-width: $md) {
    background-position: center;
  }
}
