@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(246 248 250);
  --bodyColor: rgb(91 111 130);
  --headerColor: rgb(32 43 54);
  --button: rgb(33 124 238);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--bodyColor);
  margin: 0 auto;
  width: 100%;

  @media (min-width: 769px) {
    width: 80%;
    /* background: var(--background); */
  }
}

h1,
h2,
h3,
h4 {
  font-family: Lato, sans-serif;
  color: var(--headerColor);
}

header {
  padding: 1rem 0;
}

header,
footer,
main {
  width: 100%;
  margin: 0 auto;
  @media (min-width: 769px) {
    /* background: #fff; */
    width: 85%;
  }
}

main {
  margin: 0 auto;
  font-family: Roboto, Helvetica, sans-serif;
  overflow-x: hidden;
}

button {
  background: rgb(33, 124, 238);
  background: linear-gradient(120deg, rgba(33, 124, 238, 1) 0%, rgba(67, 142, 235, 1) 100%);
}

.background {
  top: 0;
  right: 0;
  @media (min-width: 769px) {
    top: -150px;
    right: -450px;
  }
}

.feature-background {
  right: -700px;
}

.footer-text {
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
