@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(246 248 250);
  --bodyColor: rgb(91 111 130);
  --headerColor: rgb(32 43 54);
  --button: rgb(33 124 238);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--bodyColor);
  background: var(--background);
  max-width: 80%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-family: Lato, sans-serif;
  color: var(--headerColor);
}

header {
  padding: 1rem 0;
  width: 85%;
  margin: 0 auto;
}

main {
  background: #fff;
  width: 85%;
  margin: 0 auto;
  font-family: Roboto, Helvetica, sans-serif;
  overflow-x: hidden;
}

button {
  background: rgb(33, 124, 238);
  background: linear-gradient(120deg, rgba(33, 124, 238, 1) 0%, rgba(67, 142, 235, 1) 100%);
}

.background {
  right: -400px;
}
.feature-background {
  right: -700px;
}
